html {
	background-color: #bff3f7;
	color: white;
	font: 400 13.3333px Arial;
}

h1 {
	margin: 10% 10% 20%;
	text-align: center;
}

.container{
	border: 1px solid;
	box-shadow:0px 0px 10px;
	padding:1%;
	margin: 5% 40%;
	border-radius: 0.8rem;
	min-height: 100%;
	min-width: 160px;
	background-color: #59d8e6;
}

.container-dados{
	margin-bottom: 12px;
	width: 100%;
	color: blue;
	text-align: center;
}

.slider{
	width: 100%;
	height: 1px;
	outline: none;
	margin: inherit;
}

.input-number{
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.medidas{
	display: contents;
}

.botao-calcular{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	background-color: #233199;
	color:white;
	border-radius: 0.8rem;
	cursor: pointer;
	margin-top: 10%;
}

#resultado{
	font-size: larger;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #1d8b96;
}
